body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* header start */

.header-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.header-ul a{
    text-decoration: none;
    font-size: 30px;
    color: grey;
}

.header-ul a:hover{
    color: blue;
    background-color: yellow;
}

/* header end */

/* Second Portion start */

.con-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
   margin: 100px auto;
}

.con-2 img{
   width: 100%;
    height: 400px;
    margin: 20px 0;
    border: 2px solid yellow;
}

.con-2 a{
    width: 30%;
    text-decoration: none;
}

/* Second Portion end */

@media (max-width:500px){
    .con-2 a{
        width: 100%;
    }
}