body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

* {box-sizing: border-box;}

#bg-video{
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-image: url(../img/tm-astro-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navigation start */

.navigation{
    margin: 20px 50px;
    background: none;
    border: none;
    
}

.navigation h4 a{
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}

.navigation .navbar-nav{
    float: right;
    margin-right: 150px;
    margin-top: 30px;
}

.navigation .navbar-nav li a{
    font-size: 30px;
    font-weight: 300;
    padding: 0 50px;
    color: #fff;  
    line-height: 40px;
}

.navigation .navbar-nav li a:hover{
    color: #99FF66;
}

/* Navigation end */

/* Middle Portion start */

.middle{
    width: 60%;
    margin: 30px 0;
    margin-left: 150px;
    margin-right: 400px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 50px 10px;
    height: 480px;
}

.middle .box{
    background-color: rgba(0,0,0,0.3);
    width: 70%;
    float: left;
    padding: 30px;
    /* height: 380px; */
}

.middle .box-left h4{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}

.middle .box-left p{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 10px;
}

.middle .box-left p span{
    color: #99FF66;
}

.middle .box-right{
    float: right;
    width: 30%;
}

.middle .box-right img{
    width: 250px;
    padding: 10px;
    height: 180px;
}

.btn{
    margin: 15px 40%;
    text-align: center;
    background: none;
    border: 1px solid #fff;
    width: 200px;
    font-size: 25px;
    font-weight: 300; 
}

.btn a{
    text-decoration: none;
    color: #fff;
}

.btn a:hover{
    color: #99FF66;
}


/* Middle Portion end */

/* Bottom Portion start */

.bottom{
    margin: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 300;
}

.bottom h4{
    line-height: 30px;
    font-size: 20px;
}

.bottom p:hover{
    color: #99FF66;
}

/* Bottom Portion end */

/* Media Query Start */

@media (max-width:1200px){

    .navigation .navbar-nav{
        width: 100%;
        margin: 0 auto;
    }

}

@media (max-width:1100px){

    .middle{
        border-bottom: none;
    }
    .middle .box{
        width: 100%;
    }

    .middle .box-right img{
        width: 100%;
        height: auto;
    }

    .middle .box-right{
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #fff
    }
}

@media (max-width:450px){
    .navigation .icon-bar-1{
        display: block;
        text-align:end;
    }
}
  

/* Media Query end */