body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/* Navigation start */

.top1{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top1 .box1{
    width: 33%; 
}

.top1 span{
    font-size: 35px;
    margin-top: 20px;
    margin-left: 10px;
    color: rgb(222, 225, 227);
}

.top1 span:hover{
    color: aqua;
}

.top1 .box2{
    width: 33%;
}

.top1 .box2 h1{
    color: rgb(246, 117, 94);
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -15px;
   
}

.top1 .box3{
    width: 33%;
    display: flex;
    justify-content: flex-end;
   
}

.top1 .button{
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: 200;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    color: rgb(114, 122, 141);
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
    
}

/* Navigation end */

/* Header start */

.top2{
    width: 100%;
    height: 450px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
}

.top2 .top2-box{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    
}

.top2 .top2-box h1{
    padding-top: 120px;
    font-size: 40px;
    color: rgb(37, 162, 195);
}

.top2 .top2-box p{
    font-size: 20px;
}

.top2 button{
    width: 150px;
    height: 50px;
    font-size: 15px;
    color: #fff;
    background-color: rgb(246, 117, 94);
    border: 0;
    border-radius: 5px;
}

/* Header end */

/* section 1 start */

.top3{
    margin: 0 auto;
    width: 60%;
    margin-top: 50px;
    line-height: 20px;
}

.top3 .box1{
    float: left;
    width: 30%;
    text-align: right;
    margin-right: 5%;
}

.top3 h4{
    color: rgb(37, 162, 195);
}

.top3 .box1 .bottom{
    margin-top: 50px;
}
.top3 .box2{
    float: left;
    width: 30%;
}

.top3 .box2 img{
    width: 100%;
    border-radius: 100%;
    margin-left: 10px;
}

.top3 .box3{
    float: left;
    width: 30%;
    margin-left: 5%;
}

.top3 .box3 .bottom{
    margin-top: 50px;
}

/* section 1 end */

/*  section 2 start */

.top4{
    width: 100%;
    height: 350px;
    background-color: rgb(246, 117, 94);;
    clear: both;
    margin-top: 100px;
    color: #fff;
}
.top4 .top4-box{
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.top4 .top4-box h3{
    padding-top: 80px;
    font-size: 30px;
}

.top4 .top{
    font-style: italic;
}

.top4 .top4-box .bottom{
    margin-top: 50px;
    font-size: 20px;
}

/* section 2 end */

/* section 3 start */

.top5{
    margin: 0 auto;
    width: 60%;
    height: 350px;
    margin-top: 80px;
}

.top5 .box1{
    width: 30%;
    float: left;
    margin-right: 4.5%;
    border: 1px solid #000;
    
}

.top5 .box1 img{
    width: 100%;
}

.top5 h4{
    font-size: 20px;
    margin-left: 10px;
    color: rgb(37, 162, 195);
} 

.top5 p{
    margin-left: 10px;
    line-height: 20px;
}

.top5 .box2{
    width: 30%;
    float: left;
    border: 1px solid #000;
}

.top5 .box2 img{
    width: 100%;
}

.top5 .box3{
    width: 30%;
    float: left;
    margin-left: 4.5%;
    border: 1px solid #000;
}

.top5 .box3 img{
    width: 100%;
}

/* section 3 end */

/* Footer start */

.footer{
    width: 100%;
    height: 400px;
    background-color: rgb(37, 162, 195);
}

.top6{
    margin: 0 auto;
    width: 60%;
    clear: both;
    color: #fff;
}

.top6 h3{
    text-align: center;
    font-size: 23px;
    padding-top: 80px;
    padding-left: 50px;
}

.top6 p{
    float: left;
    text-align: center;
    font-size: 15px;
    margin-left: 60px;
}

.top6 span{
    margin-right: 7px;
    color: rgb(246, 117, 94);;
}

.top6 hr{
    clear: both;
    width: 500px;
    margin-top: 100px;
}

.top6 .bottom{
    clear: both;
    margin-top: 50px;
    margin-left: 300px;
}

/* Footer end */

@media (max-width:600px){

    .top2{
        height: 500px;
    }

.top2 .top2-box h1{
    font-size: 50px;
}

.top2 .top2-box p{
    font-size: 30px;
}

.top3 .box1{
    width: 100%;
    text-align: center;
}

.top3 .box1 h4{
    font-size: 30px;
}

.top3 .box1 p{
    font-size: 25px;
    line-height: 30px;
}

.top3 .box2{
    width: 100%;
    text-align: center;
}

.top3 .box3{
    width: 100%;
    text-align: center;
}

.top3 .box3 h4{
    font-size: 30px;
}

.top3 .box3 p{
    font-size: 25px;
    line-height: 30px;
}

.top5{
    height: 950px;
}

.top5 .box1{
    width: 100%;
    text-align: center;
}

.top5 .box2{
    width: 100%;
    margin-top: 35px;
    text-align: center;
}

.top5 .box3{
    width: 100%;
    margin-top: 35px;
    text-align: center;
    margin-left: 0;
}

}

