/* Navigation start */

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

*{box-sizing: border-box;}

.navigation{
    width: 100%;
    background: none;
    
}

.navigation .navbar-collapse{
    float: right;
}

.navigation .header-1{
    width: 100%;
    position: absolute;
    top: 30px;
    z-index: 1;
    
}

.navigation .navbar-brand{
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    font-size: 25px;
    word-spacing: 5px;
    letter-spacing: 3px;
    line-height: 30px;
}

.navbar-nav .dropdown a{
    text-decoration: none;
}

.navigation .dropdown-menu{
    background: none;
    width:190px;
}

.navbar-nav .dropdown-menu li{
    padding-right: 20px;
    font-size: 15px;
    background-color: #000;
    overflow: hidden;
    padding: 5px 0;
}

.navbar-nav .dropdown-menu a{
    color: #fff;
}

.navbar-nav{
    margin-right: 30px;
}

.navbar-nav span{
    font-size: 25px;
    margin-right: 10px;
}

.navbar-nav h4{
    display: inline;
    font-size: 25px;
}

.header-2{
    width: 100%;
    padding: 0;
}

.carousel-inner .item img{
    width: 100%;
    height: 650px;
}

.header-3{
    z-index: 10;
    position: absolute;
    top: 40%;
    left: 25%;
    color: #fff;
}
.header-3 p{
    font-size: 23px;
    font-weight: 100;
    text-align: left;
    word-spacing: 5px;
    letter-spacing: 5px;
}

.header-3 h1{
    font-size: 100px;
    font-weight: 400;
    text-align: center;
}

.header-3 hr{
    width: 60%;
}

/* Navigation end */

/* Two Image Section start */

.two-img-sec{
    margin: 100px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.two-img-sec .box-left{
    width: 50%;
    text-align: center;
    padding: 0 40px;
    padding-bottom: 30px;
    line-height: 30px;
}

.two-img-sec h6{
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 3px;
    padding: 30px 0;
}

.two-img-sec h4{
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 20px;
}

.two-img-sec p{
    text-align: justify;
    padding: 0 15px;
    padding-bottom: 20px;
    letter-spacing: 1px;
}
.two-img-sec .box-right{
    width: 50%;
    text-align: center;
    padding: 0 40px;
    padding-bottom: 30px;
    line-height: 30px;
}

.two-img-sec .box-left img{
    width: 100%;
}

.two-img-sec .box-right img{
    width: 100%;
}

.two-img-sec a{
    text-decoration: none;
    color: initial;
}

.two-img-sec button{
    padding: 10px 20px;
    font-size: 17px;
}

.two-img-sec button:hover{
    background-color: aqua;
    color: #000;
}

/* Two Image Section end */

/* Full Width Image start */

.full-img{
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    margin: 100px 0;
}

.full-img p{
    font-size: 15px;
    font-weight: 300;
}

.full-img hr{
    width: 30%;
}

.full-img h4{
    font-size: 25px;
    font-weight: 500;
}

/* Full Width Image end */

/* Four Image section start */

.four-img{
    margin: 100px 100px;
}

.four-img .four-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 0 40px;
}

.four-images img{
    width: 47%;
    padding: 30px 0;
}

.four-img h5{
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}

.four-img h4{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.four-img hr{
    width: 50%;
    text-align: center;
    border: 1px solid black;
}

/* Four Image section end */

/* Footer Start */

.footer{
    background-color: black;
    text-align: center;
    margin-bottom: 2px;
    padding: 50px 0;
    color: gray;
}

.footer a{
    text-decoration: none;
    color: gray;
}

.footer a:hover{
    color: aqua;
}

.footer span{
    font-size: 45px;
    padding: 0 10px;
    margin-bottom: 30px; 
}

.footer p{
    font-size: 17px;
    letter-spacing: 1px;
}

/* Footer end */

/* Media Query Start */

@media (max-width:770px){

    .carousel-inner .item img{
        height: 730px;
    }
  
    .navbar-collapse{
        display: inline-block;
        margin-top: 50px;
    }

    .header-3{
      /* margin-top: 180px;
      margin-bottom: 100px; */
        position: absolute;
        /* left: auto; */
        margin: 180px auto;
    }

    .header-3 p{
        font-size: 18px;
    }

    .header-3 h1{
        font-size: 60px;
    }
}

@media (max-width:700px){
    .two-img-sec .box-left{
        width: 100%;
        padding-bottom: 50px;
    }

    .two-img-sec .box-right{
        width: 100%;
    }

    .four-img .four-images img{
        width: 100%;
    }
}

/* Media Query end */